In [3]:
import pandas as pd
import sqlite3

con = sqlite3.connect('dados.db')
df = pd.read_sql('SELECT * FROM dim_usuarios LIMIT 5', con)
display(df)
con.close()

,user_id,cpf,e-mail,entry_date,entry_time,name,update_date
0,user_10,89333325563,cliente10@exemplo.com,2023-11-03,03:10:00,Cliente 10,2023-05-23
1,user_100,80858959841,cliente100@exemplo.com,2023-04-18,03:59:25,Cliente 100,2023-01-08
2,user_1000,25178732742,cliente1000@exemplo.com,2023-07-31,22:16:47,Cliente 1000,2023-05-24
3,user_101,46762409450,cliente101@exemplo.com,2023-04-14,09:22:00,Cliente 101,2023-02-20
4,user_102,25473014829,cliente102@exemplo.com,2023-10-21,02:38:00,Cliente 102,2023-02-07

In [8]:
#✅ 1. Total de pedidos por mês
import sqlite3

# Conectar ao banco
con = sqlite3.connect('dados.db')
cur = con.cursor()

# Criar view corretamente
cur.execute("""
    CREATE VIEW IF NOT EXISTS total_pedidos_por_mes AS
    SELECT 
        strftime('%Y-%m', created_at) AS mes,
        COUNT(DISTINCT order_id) AS total_pedidos
    FROM fato_pedidos
    GROUP BY mes;
""")

# Confirmar e fechar
con.commit()
con.close()

print("View 'total_pedidos_por_mes' criada com sucesso.")

View 'total_pedidos_por_mes' criada com sucesso.